.footer__copyrights__bg {
    background: url('./squiggles.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(165deg);
    left: 60%;
    top: -10%;
    
}

.footer__about__description {
    white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
}