.gradient-green {
  background: linear-gradient(
    0deg,
    theme('colors.c200') 0%,
    rgba(0, 0, 0, 0) 40%
  );
  background-position-y: -0.37em;
}

.gradient-blue {
  background: linear-gradient(
    0deg,
    theme('colors.c300') 0%,
    rgba(0, 0, 0, 0) 40%
  );
  background-position-y: -0.37em;
}
