@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import './global.css';

@import 'tailwindcss/utilities';
/* import components styles */
@import './heading.css';
@import './goals.css';
@import './patches.css';
@import './topbar.css';
@import './footer.css';
